#cursor{
  width: 13px;
  height: 13px;
  position: absolute;
  z-index: 1000;
  pointer-events: none;
  left: 0;
  top: 0;
  opacity: 0;
}
#header {
  position: fixed;
  z-index: 99999;
  align-items: center;
}
@font-face {
  font-family: "Montserrat Medium";
  src: url("../font/Montserrat-Medium.ttf") format("woff2");
}
@font-face {
  font-family: "NewYork";
  src: url("../font/NewYork.otf") format("woff2");
}
/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/
a,
a:link {
  color: #c00000;
  text-decoration: none;
  font-family: "Montserrat Medium";
  font-weight: 500;
}
.menu4 {
  /*list-style: none;*/
  margin: 3.5vh 2.5vw auto;
  display: flex;
  justify-content: center;
}
.menu4>li> a {
  display: block;
  padding: 0 0.7vw 0;
  position: relative;
  font-size: 18px;
  overflow: hidden;
}
.menu4>li>a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  z-index: -1;
}
.menu4>li>a::after {
  width: 0;
  height: 0;
  background: #d00000;
  left: 25%;
  bottom: 25%;
  border-radius: 100vw;
}
.menu4>li>a:hover::after {
  width: 100%;
  left: 0;
  transition: all 0.7s;
}
.menu4>li>a:hover {
  color: #fff;
}
.menu4>li>a:hover::after {
  width: 200%;
  height: 200%;
  left: 0;
  bottom: 0;
  transform: translate(-25%, 25%);
  transition: all 0.7s;
}

#header .profile{
  margin-right: 1218px;
}

#header .p01{
  position: absolute;
  overflow: hidden;
  padding: 0 0.7vw 0;
  color: #c00000;
  font-family: "Montserrat Medium";
  font-weight: 500;
  display: none;
  bottom: -17px;
}
#header .p02{
  position: absolute;
  overflow: hidden  ;
  padding: 0 0.7vw 0;
  color: #c00000;
  font-family: "Montserrat Medium";
  font-weight: 500;
  display: none;
  bottom: -34px;
}

#header .promotion:hover .p01{
  display: block;
}
#header .promotion:hover .p02{
  display: block;
}

.deps>li>a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  z-index: -1;
}
.deps>li>a::after {
  width: 0;
  height: 0;
  background: #d00000;
  left: 25%;
  bottom: 25%;
  border-radius: 100vw;
}
.deps>li>a:hover::after {
  width: 100%;
  left: 0;
  transition: all 0.7s;
}
.deps>li>a:hover {
  color: #fff;
}
.deps>li>a:hover::after {
  width: 200%;
  height: 200%;
  left: 0;
  bottom: 0;
  transform: translate(-25%, 25%);
  transition: all 0.7s;
}


#profile {
  position: fixed;
  width: 100vw;
  height: 980px;
  left: 0;
  top: 0;
  background: #f6ebd6;
  transition: all 0.5s;
}

#profile.on {
  z-index: 99;
  opacity: 1;
}

#profile .circle02:hover {
  transform: scale(1.5, 1.5);
  transition: transform 1s linear;
  cursor: pointer;
  opacity: 1;
}
#profile .line_text {
  display: flex;
  justify-content: center;
  position: relative;
  transform: translate(0, 40%);
}
#profile .svg {
  width: 592px;
  height: 665px;
  overflow: visible;
}

#profile text {
  font-family: NewYork;
  font-size: 80px;
  letter-spacing: 3.5px;
}


#profile .pic {
  position: absolute;
  left: 50%;
  bottom: 52px;
  transform: translate(-50%, 0);
  z-index: 9999;
}

#profile .scroll-container {
  width: 100vw;
  height: 100vh;
  left: 140px;
  bottom: 610px;
  position: relative;
}

#profile .text_box {
  top: 10px;
  height: 200vh;
}
#profile .back {
  left: 1260px;
  top: 1506px;
  position: absolute;
}
#profile .circle02 {
  left: 1224px;
  top: 1441px;
  position: absolute;
  opacity: 0.7;
  transition: transform 1s;
}

