

.startPoint{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 100px;
    bottom: 100px;
    z-index: 899998989;
    background: #ffffff;
    border-radius: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px 2px #0000000c;
}



@font-face {
    font-family: "Montserrat Medium";
    src: url("../../font/Montserrat-Medium.ttf") format("woff2");
}
#header{
    z-index : 99999999999;
    position: fixed;
    top : 0;
    background-color : rgba(246,235,214,0.9);
}

a,
a:link {
    color: #c00000;
    text-decoration: none;
    font-family: "Montserrat Medium";
    font-weight: 500;
}

.menu4 {
    /*list-style: none;*/
    margin: 1.5vh 2.5vw;
    display: flex;
    justify-content: center;

}
.menu4>li> a {
    display: block;
    padding: 0 0.7vw 0;
    position: relative;
    font-size: 18px;
    overflow: hidden;
}
.menu4>li>a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    z-index: -1;
}
.menu4>li>a::after {
    width: 0;
    height: 0;
    background: #d00000;
    left: 25%;
    bottom: 25%;
    border-radius: 100vw;
}
.menu4>li>a:hover::after {
    width: 100%;
    left: 0;
    transition: all 0.7s;
}
.menu4>li>a:hover {
    color: #fff;
}
.menu4>li>a:hover::after {
    width: 200%;
    height: 200%;
    left: 0;
    bottom: 0;
    transform: translate(-25%, 25%);
    transition: all 0.7s;
}

#header .profile{
    margin-right: 1218px;
}

#header .p01{
    position : relative;
    overflow: hidden;
    padding: 0 0.7vw 0;
    color: #c00000;
    font-family: "Montserrat Medium";
    font-weight: 500;
    display: block;
    margin : 5px 5px 5px 5px;
}
#header .p02{
    position : relative;
    overflow: hidden;
    padding: 0 0.7vw 0;
    color: #c00000;
    font-family: "Montserrat Medium";
    font-weight: 500;
    display: block;
    margin : 5px 5px 5px 5px;
}

.deps {
    background-color : rgba(246,235,214);
    position : fixed;
    display : block;
    visibility: hidden;
}

.promotion:hover .deps {
    visibility: visible;
}

.deps>li>a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    z-index: -1;
}
.deps>li>a::after {
    width: 0;
    height: 0;
    background: #d00000;
    left: 25%;
    bottom: 25%;
    border-radius: 100vw;
}
.deps>li>a:hover::after {
    width: 100%;
    left: 0;
    transition: all 0.7s;
}
.deps>li>a:hover {
    color: #fff;
    overflow : hidden;
}
.deps>li>a:hover::after {
    width: 200%;
    height: 200%;
    left: 0;
    bottom: 0;
    transform: translate(-25%, 25%);
    transition: all 0.7s;
}

#container{
width: 100%;
}
#section01{
   background:url(../img2/section01/bg.jpg);
   height:4494px;
}



#section01 .title01{
    opacity:0;
    position: absolute;
    left: 885px;
    top: 184px;

    transform:translateY(100px);
    transition: all 1s;
}


#section01 .title01.on{
    transform:none;
    opacity:1;
}

#section01 .show_btn{
    left: 574px;
    top: 641px;
    position: absolute;
    cursor: pointer;
}


#section01 .star01{
    width: 39px;
    height: 41px;
    opacity: 1;
    position: absolute;
    left: 1744px;
    top: 187px;

    animation: rotate_image 6s linear infinite;
    transform-origin: 50% 50%;
}
@keyframes rotate_image {
    100% {
        transform: rotate(360deg);
    }
}

#section01 .text01{
    opacity:0;
    position: absolute;
    left: 820px;
    top: 1427px;

    transform:translateY(300px);
    transition: all 1s;
}
#section01 .text01.on{
    transform:none;
    opacity:1;
}

#section01 .text02{
    opacity:0;
    position: absolute;
    left: 970px;
    top: 1779px;

    transform:translateX(-300px);
    transition: all 1s;
}


#section01 .text02.on{
    transform:none;
    opacity:1;
}
#section01 .text03{
    opacity:0;
    position: absolute;
    left: 99px;
    top: 1934px;

    transform:translateX(300px);
    transition: all 1s;
}
#section01 .text03.on{
    transform:none;
    opacity:1;
}

#section01 .text04{
    width: 647px;
    height: 144px;
    position: absolute;
    left: 836px;
    top: 2147px;
}

#section01 .text04 .text04img {
    opacity: 0;
}
#section01 .text04 .text04img.on{
    opacity:1;
    animation: tilt-in-bottom-2 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes tilt-in-bottom-2 {
    0% {
        transform: rotateY(-30deg) translateY(300px) skewY(30deg);
        opacity: 0;
    }
    100% {
        transform: rotateY(0deg) translateY(0) skewY(0deg);
        opacity: 1;
    }
}
#section01 .text05{
    width: 486px;
    height: 146px;
    position: absolute;
    left: 137px;
    top: 3360px;
}

#section01 .text05 .text05img {
    opacity: 0;
}
#section01 .text05 .text05img.on{
    opacity:1;
    animation: tilt-in-bottom-2 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes tilt-in-bottom-2 {
    0% {
        transform: rotateY(-30deg) translateY(300px) skewY(30deg);
        opacity: 0;
    }
    100% {
        transform: rotateY(0deg) translateY(0) skewY(0deg);
        opacity: 1;
    }
}

#section01 .pic01{
    opacity:0;
    position: absolute;
    left: 837px;
    top: 2350px;

    transform:translateY(300px);
    transition: all 1s;
}
#section01 .pic01.on{
    transform:none;
    opacity:1;
}
#section01 .pic02{
    opacity:0;
    position: absolute;
    left: 138px;
    top: 3555px;

    transform:translateY(300px);
    transition: all 1s;
}
#section01 .pic02.on{
    transform:none;
    opacity:1;
}
#section01 .arrow01{
    width: 133px;
    height: 711px;
    position: absolute;
    left: 1401px;
    top: 3306px;
}

#section01 .arrow01 .arrow01img {
    opacity: 0;
}
#section01 .arrow01 .arrow01img.on{
    opacity:1;
    animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@keyframes fade-in-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
#section01 .text06{
    opacity:0;
    position: absolute;
    left: 1589px;
    top: 3220px;

    transform:translateY(100px);
    transition: all 1s;
}
#section01 .text06.on{
    transform:none;
    opacity:1;
}

#section02{
    height:8427px;
}

#section02 .s2title01{
    opacity:0;
    position: absolute;
    left: 194px;
    top: 184px;

    transform:translateY(200px);
    transition: all 1s;
}
#section02 .s2title01.on{
    transform:none;
    opacity:1;
}
#section02 .s2star01{
    width: 20px;
    height: 21px;
    opacity: 1;
    position: absolute;
    left: 917px;
    top: 184px;

    animation: rotate_image 6s linear infinite;
    transform-origin: 50% 50%;
}
@keyframes rotate_image {
    100% {
        transform: rotate(360deg);
    }
}
#section02 .s2text01{
    opacity:0;
    position: absolute;
    left: 927px;
    top: 271px;

    transform:translateY(300px);
    transition: all 1s;
}
#section02 .s2text01.on{
    transform:none;
    opacity:1;
}
#section02 .s2mockup01 {
    width: 1684px;
    height: 924px;
    position: absolute;
    left: 118px;
    top: 513px;

}
#section02 .s2mockup01 .s2mockup01img{
    opacity: 0;
}
#section02 .s2mockup01 .s2mockup01img.on{
    opacity:1;
    animation: s2mockup01img 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes s2mockup01img {
    0% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
#section02 .s2mockup02{
    opacity:0;
    position: absolute;
    left: 574px;
    top: 1714px;

    transform:translateX(200px);
    transition: all 1s;
}
#section02 .s2mockup02.on{
    transform:none;
    opacity:1;
}
#section02 .s2text02{
    opacity:0;
    position: absolute;
    left: 140px;
    top: 2881px;

    transform:translateY(300px);
    transition: all 1s;
}
#section02 .s2text02.on{
    transform:none;
    opacity:1;
}

#section02 .s2mockup03{
    opacity:0;
    position: absolute;
    left: -45px;
    top: 4069px;

    transform:translateX(-200px);
    transition: all 1s;
}
#section02 .s2mockup03.on{
    transform:none;
    opacity:1;
}
#section02 .s2title02{
    opacity:0;
    position: absolute;
    left: 129px;
    top: 5510px;

    transform:translateY(200px);
    transition: all 1s;
}
#section02 .s2title02.on{
    transform:none;
    opacity:1;
}
#section02 .s2circle01{
    width: 365px;
    height: 365px;
    position: absolute;
    left: 294px;
    top: 6445px;
}

#section02 .s2circle01 .s2circle01img{
    animation: shake-vertical 7s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
    opacity:1;
}

@keyframes shake-vertical {
    0%,
    100% {
        transform: translateY(0);
    }
    10%,
    30%,
    50%,
    70% {
        transform: translateY(-8px);
    }
    20%,
    40%,
    60% {
        transform: translateY(8px);
    }
    80% {
        transform: translateY(6.4px);
    }
    90% {
        transform: translateY(-6.4px);
    }
}
#section02 .s2circle02{
    width: 365px;
    height: 365px;
    position: absolute;
    left: 646px;
    top: 6100px;
}

#section02 .s2circle02 .s2circle02img{
    animation: shake-horizontal 10s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
    opacity:1;
}

@keyframes shake-horizontal {
    0%,
    100% {
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
        transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
        transform: translateX(10px);
    }
    80% {
        transform: translateX(8px);
    }
    90% {
        transform: translateX(-8px);
    }
}
#section02 .s2text03{
    opacity:0;
    position: absolute;
    left: 1084px;
    top: 6712px;

    transform:translateY(200px);
    transition: all 1s;
}
#section02 .s2text03.on{
    transform:none;
    opacity:1;
}

#section02 .s2text04{
    opacity:0;
    position: absolute;
    left: 536px;
    top: 7352px;

    transform:translateY(200px);
    transition: all 1s;
}
#section02 .s2text04.on{
    transform:none;
    opacity:1;
}

#section02 .s2text05{
    opacity:0;
    position: absolute;
    left: 505px;
    top: 8128px;

    transform:translateY(200px);
    transition: all 1s;
}
#section02 .s2text05.on{
    transform:none;
    opacity:1;
}

#section02 .s2text06{
    opacity:0;
    position: absolute;
    left: 1001px;
    top: 8128px;

    transform:translateY(200px);
    transition: all 1.4s;
}
#section02 .s2text06.on{
    transform:none;
    opacity:1;
}
#section02 .s2text07{
    opacity:0;
    position: absolute;
    left: 1416px;
    top: 8128px;

    transform:translateY(200px);
    transition: all 1.8s;
}
#section02 .s2text07.on{
    transform:none;
    opacity:1;
}
#section02 .s2title03{
    opacity:0;
    position: absolute;
    left: 536px;
    top: 7107px;

    transform:translateX(-300px);
    transition: all 1s;
}


#section02 .s2title03.on{
    transform:none;
    opacity:1;
}
#section02 .s2title04{
    opacity:0;
    position: absolute;
    left: 1191px;
    top: 7187px;

    transform:translateX(300px);
    transition: all 1s;
}
#section02 .s2title04.on{
    transform:none;
    opacity:1;
}

#section03{
    height:3898px;
}
#section03 .s3title01{
    position: absolute;
    left: 213px;
    top: 3000px;
    transform:translateX(100px);
    transition: all 1s;
    opacity: 0;
}
#section03 .s3title01.on{
    transform: none;
    opacity: 1;
}

#section04{
    height:2859px;
    background: black;
}
#section04 .s4text_box{
    left: 376px;
    top: 262px;
    position: absolute;
}

#section04 .s4text01{
    margin-bottom: 40px;
    opacity:0.4;
}
#section04 .s4text01.on{
    opacity:1;
}

#section04 .s4text02{
    margin-bottom: 40px;
    opacity:0.4;
}
#section04 .s4text02.on{
    opacity:1;
}
#section04 .s4text03{
    margin-bottom: 40px;
    opacity:0.4;
}
#section04 .s4text03.on{
    opacity:1;
}
#section04 .s4text04{
    opacity:0.4;
}
#section04 .s4text04.on{
    opacity:1;
}


#section04 .s4pic01{
    left: 369px;
    top: 908px;
    position: absolute;
}

#section04 .s4text_box02{
    left: 469px;
    top: 1333px;
    position: absolute;
    text-align: right;
}
#section04 .s4text05{
    margin-bottom: 40px;
    opacity:0.4;
}
#section04 .s4text05.on{
    opacity:1;
}
#section04 .s4text06{
    margin-bottom: 40px;
    opacity:0.4;
}
#section04 .s4text06.on{
    opacity:1;
}
#section04 .s4text07{
    margin-bottom: 40px;
    opacity:0.4;
}
#section04 .s4text07.on{
    opacity:1;
}
#section04 .s4text08{
    margin-bottom: 40px;
    opacity:0.4;
}
#section04 .s4text08.on{
    opacity:1;
}
#section04 .s4text09{
    margin-bottom: 40px;
    opacity:0.4;
}
#section04 .s4text09.on{
    opacity:1;
}
#section04 .s4text10{
    opacity:0.4;
}
#section04 .s4text10.on{
    opacity:1;
}
#section04 .s4arrow01{
    left: 960px;
    top: 2590px;
    position: absolute;
    transform: translateY(-100px);
    transition: all 1s;
    opacity: 1;
}
#section04 .s4arrow01.on{
    opacity: 1;
    transform: none;

}












