

.startPoint{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 100px;
    bottom: 100px;
    z-index: 899998989;
    background: #ffffff;
    border-radius: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px 2px #0000000c;
}


.startPoint:hover{
    background: #ebebeb;
}



#container{
width: 100%;
}
#section01{
   background:url(../img2/1main/mobilefullimage1.jpg);
   Height:22609px;
}






#section01 .mockup01{
    width: 722px;
    height: 885px;
    position: absolute;
    left: 1004px;
    top: 53px;

}

#section01 .mockup01 .mockup01img{
    animation: shake-vertical 7s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
    opacity:1;
}

@-webkit-keyframes shake-vertical {
    0%,
    100% {
        transform: translateY(0);
    }
    10%,
    30%,
    50%,
    70% {
        transform: translateY(-8px);
    }
    20%,
    40%,
    60% {
        transform: translateY(8px);
    }
    80% {
        transform: translateY(6.4px);
    }
    90% {
        transform: translateY(-6.4px);
    }
}
@keyframes shake-vertical {
    0%,
    100% {
        transform: translateY(0);
    }
    10%,
    30%,
    50%,
    70% {
        transform: translateY(-8px);
    }
    20%,
    40%,
    60% {
        transform: translateY(8px);
    }
    80% {
        transform: translateY(6.4px);
    }
    90% {
        transform: translateY(-6.4px);
    }
}


#section01 .icon01{
    width: 519px;
    height: 152px;
    position: absolute;
    left: 940px;
    top: 1270px;

}

#section01 .icon01 .icon01img{
    opacity:0;
}

#section01 .icon01 .icon01img.on{
    animation: swing-in-top-fwd 1.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}


@keyframes swing-in-top-fwd {
    0% {
        transform: rotateX(-100deg);
        transform-origin: top;
        opacity: 0;
    }
    100% {
        transform: rotateX(0deg);
        transform-origin: top;
        opacity: 1;
    }
}

#section01 .icon02{
    width: 519px;
    height: 152px;
    position: absolute;
    left: 940px;
    top: 1442px;

}

#section01 .icon02 .icon02img{
    opacity:0;
}

#section01 .icon02 .icon02img.on{
    animation: swing-in-top-fwd 2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}


@keyframes swing-in-top-fwd {
    0% {
        transform: rotateX(-100deg);
        transform-origin: top;
        opacity: 0;
    }
    100% {
        transform: rotateX(0deg);
        transform-origin: top;
        opacity: 1;
    }
}

#section01 .icon03{
    width: 519px;
    height: 152px;
    position: absolute;
    left: 940px;
    top: 1616px;

}

#section01 .icon03 .icon03img{
    opacity:0;
}

#section01 .icon03 .icon03img.on{
    animation: swing-in-top-fwd 2.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}


@keyframes swing-in-top-fwd {
    0% {
        transform: rotateX(-100deg);
        transform-origin: top;
        opacity: 0;
    }
    100% {
        transform: rotateX(0deg);
        transform-origin: top;
        opacity: 1;
    }
}


#section01 .pic01{
    width: 264px;
    height: 264px;
    position: absolute;
    left: 625px;
    top: 2439px;

}

#section01 .pic01 .pic01img{
    opacity:0;
}

#section01 .pic01 .pic01img.on{
    opacity:1;
    animation: scale-up-ver-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes scale-up-ver-center {
    0% {
        transform: scaleY(0.4);
    }
    100% {
        transform: scaleY(1);
    }
}

#section01 .pic02{
    width: 264px;
    height: 264px;
    position: absolute;
    left: 1238px;
    top: 2439px;

}

#section01 .pic02 .pic02img{
    opacity:0;
}

#section01 .pic02 .pic02img.on{
    opacity:1;
    animation: scale-up-ver-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes scale-up-ver-center {
    0% {
        transform: scaleY(0.4);
    }
    100% {
        transform: scaleY(1);
    }
}

#section01 .graph01{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 272px;
    top: 3212px;

    transform:scaleY(0.7);
    transition: all 1s;
}
#section01 .graph01.on{
    transform:none;
    opacity:1;
}
#section01 .graph02{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 360px;
    top: 3202px;

    transform:scaleY(0.7);
    transition: all 2s;
}
#section01 .graph02.on{
    transform:none;
    opacity:1;
}
#section01 .graph03{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 446px;
    top: 3185px;

    transform:scaleY(0.7);
    transition: all 2.5s;
}
#section01 .graph03.on{
    transform:none;
    opacity:1;
}
#section01 .graph04{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 533px;
    top: 3176px;

    transform:scaleY(0.7);
    transition: all 3s;
}
#section01 .graph04.on{
    transform:none;
    opacity:1;
}
#section01 .graph05{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 618px;
    top: 3158px;

    transform:scaleY(0.7);
    transition: all 3.5s;
}
#section01 .graph05.on{
    transform:none;
    opacity:1;
}
#section01 .text01{
    width: 338px;
    height: 21px;
    position: absolute;
    left: 155px;
    top: 3035px;
}
#section01 .text01 .text01img{
    opacity:0;
}
#section01 .text01 .text01img.on{
    animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    opacity:1;
}
@keyframes slide-right {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100px);
    }
}
#section01 .text02{
    width: 394px;
    height: 21px;
    position: absolute;
    left: 1094px;
    top: 3035px;
}
#section01 .text02 .text02img{
    opacity:0;
}
#section01 .text02 .text02img.on{
    animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    opacity:1;
}
@keyframes slide-right {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100px);
    }
}
#section01 .box01{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 1054px;
    top: 3107px;
    z-index: 2;

    transform:scale(0.5,0.5);
    transition: all 1s;
}
#section01 .box01.on{
    transform:none;
    opacity:1;
}
#section01 .box02{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 1341px;
    top: 3177px;
    z-index: 3;

    transform:scale(0.5,0.5);
    transition: all 1.5s;
}
#section01 .box02.on{
    transform:none;
    opacity:1;
}
#section01 .box03{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 1094px;
    top: 3280px;
    z-index: 1;

    transform:scale(0.5,0.5);
    transition: all 2s;
}
#section01 .box03.on{
    transform:none;
    opacity:1;
}
#section01 .arrow01{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 786px;
    top: 3193px;
    z-index: 1;

    transform:translateX(-40px);
    transition: all 2s;
}
#section01 .arrow01.on{
    transform:none;
    opacity:1;
}
#section01 .salad01{
    width: 369px;
    height: 369px;
    opacity:0;
    position: absolute;
    left: 332px;
    top: 3895px;

}
@keyframes rotate_image {
    100% {
        transform: rotate(360deg);
    }
}

#section01 .salad01.on{
    transform:none;
    opacity:1;
    animation: rotate_image 8s linear infinite;
    transform-origin: 50% 50%;
}
#section01 .salad02{
    width: 327px;
    height: 327px;
    opacity:0;
    position: absolute;
    left: 1357px;
    top: 3988px;

}
@keyframes rotate_image {
    100% {
        transform: rotate(360deg);
    }
}

#section01 .salad02.on{
    transform:none;
    opacity:1;
    animation: rotate_image 12s linear infinite;
    transform-origin: 50% 50%;
}
#section01 .salad03{
    width: 279px;
    height: 278px;
    opacity:0;
    position: absolute;
    left: 1183px;
    top: 4725px;

}
@keyframes rotate_image {
    100% {
        transform: rotate(360deg);
    }
}

#section01 .salad03.on{
    transform:none;
    opacity:1;
    animation: rotate_image 10s linear infinite;
    transform-origin: 50% 50%;
}

#section01 .color01{
    width: 409px;
    height: 203px;
    position: absolute;
    left: 78px;
    top: 5790px;
}
#section01 .color01 .color01img{
    opacity:0;
}
#section01 .color01 .color01img.on{
    animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    opacity:1;
}
@keyframes slide-right {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100px);
    }
}
#section01 .color02{
    width: 156px;
    height: 203px;
    position: absolute;
    left: 487px;
    top: 5790px;
}
#section01 .color02 .color02img{
    opacity:0;
}
#section01 .color02 .color02img.on{
    animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    opacity:1;
}
@keyframes slide-right {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100px);
    }
}
#section01 .s2text01{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 1151px;
    top: 5750px;

    transform:translateY(300px);
    transition: all 1s;
}
#section01 .s2text01.on{
    transform:none;
    opacity:1;
}
#section01 .s2text02{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 1151px;
    top: 5810px;

    transform:translateY(300px);
    transition: all 1s;
}
#section01 .s2text02.on{
    transform:none;
    opacity:1;
}
#section01 .s2text03{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 1151px;
    top: 6018px;

    transform:translateY(300px);
    transition: all 2s;
}
#section01 .s2text03.on{
    transform:none;
    opacity:1;
}
#section01 .s2text04{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 1151px;
    top: 6081px;

    transform:translateY(300px);
    transition: all 2s;
}
#section01 .s2text04.on{
    transform:none;
    opacity:1;
}
#section01 .s2text05{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 1151px;
    top: 6137px;

    transform:translateY(300px);
    transition: all 2s;
}
#section01 .s2text05.on{
    transform:none;
    opacity:1;
}
#section01 .s2pic01{
    width: 136px;
    height: 135px;
    position: absolute;
    left: 170px;
    top: 7026px;
}
#section01 .s2pic01 .s2pic01img{
    opacity:0;
}
#section01 .s2pic01 .s2pic01img.on{
    animation: blink-2 0.9s both;
    opacity:1;
}
@keyframes blink-2 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}
#section01 .s2pic02{
    width: 136px;
    height: 135px;
    position: absolute;
    left: 1004px;
    top: 7026px;
}
#section01 .s2pic02 .s2pic02img{
    opacity:0;
}
#section01 .s2pic02 .s2pic02img.on{
    animation: blink-2 0.9s both;
    opacity:1;
}
@keyframes blink-2 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}
#section01 .s2text06{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 341px;
    top: 7262px;

    transform:translateY(300px);
    transition: all 1s;
}
#section01 .s2text06.on{
    transform:none;
    opacity:1;
}
#section01 .s2text07{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 1176px;
    top: 7262px;

    transform:translateY(300px);
    transition: all 1s;
}
#section01 .s2text07.on{
    transform:none;
    opacity:1;
}
#section01 .s2text07{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 1176px;
    top: 7262px;

    transform:translateY(300px);
    transition: all 1s;
}
#section01 .s2text07.on{
    transform:none;
    opacity:1;
}
#section01 .s2text07{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 1176px;
    top: 7262px;

    transform:translateY(300px);
    transition: all 1s;
}
#section01 .s2text07.on{
    transform:none;
    opacity:1;
}
#section01 .s3box01{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 215px;
    top: 7960px;

    transform:translateX(-30px);
    transition: all 0.5s;
}
#section01 .s3box01.on{
    transform:none;
    opacity:1;
}
#section01 .s3box02{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 492px;
    top: 8031px;

    transform:translateX(-30px);
    transition: all 1s;
}
#section01 .s3box02.on{
    transform:none;
    opacity:1;
}
#section01 .s3box03{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 818px;
    top: 8176px;

    transform:translateX(-30px);
    transition: all 1.5s;
}
#section01 .s3box03.on{
    transform:none;
    opacity:1;
}
#section01 .s3box04{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 909px;
    top: 8107px;

    transform:translateX(-30px);
    transition: all 2s;
}
#section01 .s3box04.on{
    transform:none;
    opacity:1;
}
#section01 .s3box05{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 1189px;
    top: 8250px;

    transform:translateX(-30px);
    transition: all 2.5s;
}
#section01 .s3box05.on{
    transform:none;
    opacity:1;
}
#section01 .s3box06{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 1332px;
    top: 8324px;

    transform:translateX(-30px);
    transition: all 3s;
}
#section01 .s3box06.on{
    transform:none;
    opacity:1;
}
#section01 .s3box07{
    width: 363px;
    height: 112px;
    position: absolute;
    left: 1008px;
    top: 9029px;

}

#section01 .s3box07 .s3box07img{
    opacity:0;
}

#section01 .s3box07 .s3box07img.on{
    animation: scale-up-left 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    opacity:1;
}
@keyframes scale-up-left {
    0% {
        transform: scale(0.5);
        transform-origin: 0 50%;
    }
    100% {
        transform: scale(1);
        transform-origin: 0 50%;
    }
}


#section01 .s3box08{
    width: 381px;
    height: 112px;
    position: absolute;
    left: 1395px;
    top: 9128px;
}
#section01 .s3box08 .s3box08img{
    opacity:0;
}

#section01 .s3box08 .s3box08img.on{
    opacity:1;
    animation: scale-up-br 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@keyframes scale-up-br {
    0% {
        transform: scale(0.5);
        transform-origin: 100% 100%;
    }
    100% {
        transform: scale(1);
        transform-origin: 100% 100%;
    }
}

#section01 .s3box09{
    width: 200px;
    height: 200px;
    position: absolute;
    left: 1008px;
    top: 9243px;

}
#section01 .s3box09 .s3box09img{
    opacity:0;
}

#section01 .s3box09 .s3box09img.on{
    animation: scale-up-left 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    opacity:1;
}
@keyframes scale-up-left {
    0% {
        transform: scale(0.5);
        transform-origin: 0 50%;
    }
    100% {
        transform: scale(1);
        transform-origin: 0 50%;
    }
}
#section01 .s3box10{
    width: 381px;
    height: 119px;
    position: absolute;
    left: 1395px;
    top: 9357px;
}
#section01 .s3box10 .s3box10img{
    opacity:0;
}

#section01 .s3box10 .s3box10img.on{
    opacity:1;
    animation: scale-up-br 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@keyframes scale-up-br {
    0% {
        transform: scale(0.5);
        transform-origin: 100% 100%;
    }
    100% {
        transform: scale(1);
        transform-origin: 100% 100%;
    }
}

#section01 .s3confe{
    width: 2000px;
    height: 2000px;
    position: absolute;
    left: 1195px;
    top: 7924px;
}
#section01 .s3confe .s3confeimg{
    opacity:0;
}

#section01 .s3confe .s3confeimg.on{
    opacity:1;
    animation: puff-out-center 1.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
}
@keyframes puff-out-center {
    0% {
        transform: scale(1);
        filter: blur(0px);
        opacity: 1;
    }
    100% {
        transform: scale(2);
        filter: blur(4px);
        opacity: 0;
    }
}


#section01 .s3num01{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 115px;
    top: 10029px;

    transform:translateY(-40px);
    transition: all 0.5s;
}
#section01 .s3num01.on {
    transform: none;
    opacity: 1;
}
#section01 .s3num02{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 462px;
    top: 10029px;

    transform:translateY(-40px);
    transition: all 0.9s;
}
#section01 .s3num02.on {
    transform: none;
    opacity: 1;
}
#section01 .s3num03{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 819px;
    top: 10029px;

    transform:translateY(-40px);
    transition: all 1.4s;
}
#section01 .s3num03.on {
    transform: none;
    opacity: 1;
}
#section01 .s3num04{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 1136px;
    top: 10029px;

    transform:translateY(-40px);
    transition: all 1.8s;
}
#section01 .s3num04.on {
    transform: none;
    opacity: 1;
}
#section01 .s3num05{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 1470px;
    top: 10029px;

    transform:translateY(-40px);
    transition: all 2.2s;
}
#section01 .s3num05.on {
    transform: none;
    opacity: 1;
}
#section01 .s3circle01{
    width: 16px;
    height: 16px;
    position: absolute;
    left: 542px;
    top: 10555px;
}
#section01 .s3circle01 .s3circle01img{
    opacity:0;
}

#section01 .s3circle01 .s3circle01img.on{
    opacity:1;
    animation: roll-in-left 1s ease-out both;
}
@keyframes roll-in-left {
    0% {
        transform: translateX(-800px) rotate(-540deg);
        opacity: 0;
    }
    100% {
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}
#section01 .s3circle02{
    width: 16px;
    height: 16px;
    position: absolute;
    left: 493px;
    top: 11097px;
}
#section01 .s3circle02 .s3circle02img{
    opacity:0;
}

#section01 .s3circle02 .s3circle02img.on{
    opacity:1;
    animation: roll-in-left 1s ease-out both;
}
@keyframes roll-in-left {
    0% {
        transform: translateX(-800px) rotate(-540deg);
        opacity: 0;
    }
    100% {
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}
#section01 .s3text01{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 833px;
    top: 10526px;

    transform:translateY(40px);
    transition: all 1s;
}
#section01 .s3text01.on {
    transform: none;
    opacity: 1;
}
#section01 .s3text02{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 833px;
    top: 11076px;

    transform:translateY(40px);
    transition: all 1s;
}
#section01 .s3text02.on {
    transform: none;
    opacity: 1;
}
#section01 .s4mockup01{
    width: 621px;
    height: 1201px;
    position: absolute;
    left: 102px;
    top: 12296px;
}
#section01 .s4mockup01 .s4mockup01img{
    opacity:0;
}

#section01 .s4mockup01 .s4mockup01img.on{
    opacity:1;
    animation: swing-in-top-bck 1.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}
@keyframes swing-in-top-bck {
    0% {
        transform: rotateX(70deg);
        transform-origin: top;
        opacity: 0;
    }
    100% {
        transform: rotateX(0deg);
        transform-origin: top;
        opacity: 1;
    }
}
#section01 .s4mockup02{
    width: 621px;
    height: 1201px;
    position: absolute;
    left: 1174px;
    top: 13043px;
}
#section01 .s4mockup02 .s4mockup02img{
    opacity:0;
}

#section01 .s4mockup02 .s4mockup02img.on{
    opacity:1;
    animation: swing-in-top-bck 1.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}
@keyframes swing-in-top-bck {
    0% {
        transform: rotateX(70deg);
        transform-origin: top;
        opacity: 0;
    }
    100% {
        transform: rotateX(0deg);
        transform-origin: top;
        opacity: 1;
    }
}
#section01 .s4text01{
     width: 200px;
     height: 200px;
     opacity:0;
     position: absolute;
     left: 242px;
     top: 13470px;

     transform:translateX(-30px);
     transition: all 1s;
 }
#section01 .s4text01.on {
    transform: none;
    opacity: 1;
}
#section01 .s4text02{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 1395px;
    top: 12914px;

    transform:translateX(30px);
    transition: all 1s;
}
#section01 .s4text02.on {
    transform: none;
    opacity: 1;
}

#section01 .phone .phone01{
    position: absolute;
    left:288px;
    top:15081px;
    z-index: 10000;
}

#section01 .phone .phone_top{
    position: absolute;
    left:293px;
    top:15090px;
    z-index: 100;
}




#section01 .test1 {
    position: absolute;
    left:298px;
    top: 15094px;
    z-index: 100;
}
#section01 .mov{
    border-radius: 20px;
}

#section01 .s4text03{
    width: 1248px;
    height: 288px;
    opacity:0;
    position: absolute;
    left: 0;
    top: 14398px;

}
#section01 .s4text03.on {
    transform: none;
    opacity: 1;
    animation-name: slide-left;
    animation-duration: 5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}
@keyframes slide-left {
    from {
        left: 100%;
    }
    to {
        left: -100%;
    }
}
#section01 .s4text04{
    width: 1117px;
    height: 290px;
    opacity:0;
    position: absolute;
    right: 0;
    top: 14973px;

}

#section01 .s4text04.on {
    transform: none;
    opacity: 1;
    animation-name: slide-right-2;
    animation-duration: 5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}
@keyframes slide-right-2 {
    from {
        right: 100%;
    }
    to {
        right: -100%;
    }
}

#section01 .s4mockup03{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 982px;
    top: 14863px;

    transform:none;
}
#section01 .s4mockup03.on{
    transform:none;
    opacity:1;
}

#section01 .s4pic02{
    position: absolute;
    left: 0;
    top: 17887px;
    overflow: hidden;
    display: flex;
}
#section01 .s4pic02>div{
    animation: txt 15s infinite linear;
}
@keyframes txt {
    to{
        transform: translateX(-4196px);
    }
}
#section01 .s4pic01{
    position: absolute;
    left: 1400px;
    top: 15118px;
}

#section01 .s4circle01{
    width: 301px;
    height: 301px;
    position: absolute;
    left: 1051px;
    top: 15718px;
}
#section01 .s4circle01 .s4circle01img{
    opacity:0;
}
#section01 .s4circle01 .s4circle01img.on{
    opacity:1;
    animation: roll-in-right_1 0.6s ease-out both;
}
@keyframes roll-in-right_1{
    0% {
        transform: translateX(800px) rotate(540deg);
        opacity: 0;
    }
    100% {
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}
#section01 .s4logo01{
    width: 45px;
    height: 55px;
    position: absolute;
    left: 1505px;
    top: 16274px;
}
#section01 .s4logo01 .s4logo01img{
    opacity:0;
}
#section01 .s4logo01 .s4logo01img.on{
    opacity:1;
    animation: jello-horizontal 0.9s both;
}
@keyframes jello-horizontal {
    0% {
        transform: scale3d(1, 1, 1);
    }
    30% {
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
}
#section01 .s4text09{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 822px;
    top: 16585px;
    z-index: 2;

    transition: all 1s;

}
#section01 .s4text09.on{
    transform:none;
    opacity:1;
}
#section01 .s4line01{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 812px;
    top: 16634px;
    z-index: 1;

    transform:translateX(-30px);
    transition: all 0.7s;

}
#section01 .s4line01.on{
    transform:none;
    opacity:1;
}

#section01 .s4text05{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 822px;
    top: 16746px;

    transform:translateX(-50px);
    transition: all 1s;

}
#section01 .s4text05.on{
    transform:none;
    opacity:1;
}
#section01 .s4title01{
    width: 406px;
    height: 43px;
    position: absolute;
    left: 405px;
    top: 17513px;
}
#section01 .s4title01 .s4title01img{
    opacity:0;
}
#section01 .s4title01 .s4title01img.on{
    opacity:1;
    animation: tilt-in-bottom-2 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes tilt-in-bottom-2 {
    0% {
        transform: rotateY(-30deg) translateY(300px) skewY(30deg);
        opacity: 0;
    }
    100% {
        transform: rotateY(0deg) translateY(0) skewY(0deg);
        opacity: 1;
    }
}

#section01 .s4mockup04{
    width: 200px;
    height: 200px;
    opacity:1;
    position: absolute;
    left: 928px;
    top: 17442px;

    transform:none;
}
#section01 .s4sub01 {
    width: 452px;
    height: 24px;
    position: absolute;
    left: 740px;
    top: 18775px;
}
#section01 .s4sub01 .s4sub01img{
    opacity:0;
}

#section01 .s4sub01 .s4sub01img.on{
    animation: swing-in-top-fwd 1.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}
@keyframes swing-in-top-fwd {
    0% {
        transform: rotateX(-100deg);
        transform-origin: top;
        opacity: 0;
    }
    100% {
        transform: rotateX(0deg);
        transform-origin: top;
        opacity: 1;
    }
}

#section01 .s4sub02{
    width: 452px;
    height: 22px;
    position: absolute;
    left: 736px;
    top: 18960px;

}
#section01 .s4sub02 .s4sub02img{
    opacity:0;
}

#section01 .s4sub02 .s4sub02img.on{
    animation: swing-in-top-fwd 1.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}
@keyframes swing-in-top-fwd {
    0% {
        transform: rotateX(-100deg);
        transform-origin: top;
        opacity: 0;
    }
    100% {
        transform: rotateX(0deg);
        transform-origin: top;
        opacity: 1;
    }
}
#section01 .s4sub03{
    width: 421px;
    height: 19px;
    position: absolute;
    left: 751px;
    top: 19144px;

}
#section01 .s4sub03 .s4sub03img{
    opacity:0;
}

#section01 .s4sub03 .s4sub03img.on{
    animation: swing-in-top-fwd 1.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}
@keyframes swing-in-top-fwd {
    0% {
        transform: rotateX(-100deg);
        transform-origin: top;
        opacity: 0;
    }
    100% {
        transform: rotateX(0deg);
        transform-origin: top;
        opacity: 1;
    }
}
#section01 .s4arrow01{
    width: 200px;
    height: 200px;
    opacity: 0;
    position: absolute;
    left: 940px;
    top: 19449px;
    transform: translateY(-50px);
    transition: all 1s;
}
#section01 .s4arrow01.on{
    transform:none;
    opacity:1;
}
#section01 .s4arrow01{
    width: 200px;
    height: 200px;
    opacity: 0;
    position: absolute;
    left: 940px;
    top: 19449px;
    transform: translateY(-50px);
    transition: all 1s;
}
#section01 .s4arrow01.on{
    transform:none;
    opacity:1;
}
#section01 .s5text01{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 112px;
    top: 19673px;

    transform:translateY(-40px);
    transition: all 0.5s;
}
#section01 .s5text01.on {
    transform: none;
    opacity: 1;
}
#section01 .s5text02{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 706px;
    top: 19673px;

    transform:translateY(-40px);
    transition: all 0.9s;
}
#section01 .s5text02.on {
    transform: none;
    opacity: 1;
}
#section01 .s5text03{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 1276px;
    top: 19673px;

    transform:translateY(-40px);
    transition: all 1.4s;
}
#section01 .s5text03.on {
    transform: none;
    opacity: 1;
}
#section01 .s5line01{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 282px;
    top: 20194px;

    transform:translateX(-30px);
    transition: all 0.7s;

}
#section01 .s5line01.on{
    transform:none;
    opacity:1;
}
#section01 .s5title01{
    width: 371px;
    height: 32px;
    position: absolute;
    left: 148px;
    top: 20417px;
}
#section01 .s5title01 .s5title01img{
    opacity:0;
}
#section01 .s5title01 .s5title01img.on{
    opacity:1;
    animation: tilt-in-bottom-2 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes tilt-in-bottom-2 {
    0% {
        transform: rotateY(-30deg) translateY(300px) skewY(30deg);
        opacity: 0;
    }
    100% {
        transform: rotateY(0deg) translateY(0) skewY(0deg);
        opacity: 1;
    }
}
#section01 .s5text04{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 146px;
    top: 20514px;

    transform:translateY(30px);
    transition: all 1s;
}
#section01 .s5text04.on {
    transform: none;
    opacity: 1;
}
#section01 .s5sub01{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 146px;
    top: 20198px;
    z-index: 2;

}
#section01 .s5sub01.on{
    transform:none;
    opacity:1;
}
#section01 .s5line01{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 282px;
    top: 20194px;

    transform:translateX(-30px);
    transition: all 0.7s;

}
#section01 .s5line01.on{
    transform:none;
    opacity:1;
}
#section01 .s5title01{
    width: 371px;
    height: 32px;
    position: absolute;
    left: 148px;
    top: 20417px;
}
#section01 .s5title01 .s5title01img{
    opacity:0;
}
#section01 .s5title01 .s5title01img.on{
    opacity:1;
    animation: tilt-in-bottom-2 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes tilt-in-bottom-2 {
    0% {
        transform: rotateY(-30deg) translateY(300px) skewY(30deg);
        opacity: 0;
    }
    100% {
        transform: rotateY(0deg) translateY(0) skewY(0deg);
        opacity: 1;
    }
}
#section01 .s5text04{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 146px;
    top: 20514px;

    transform:translateY(30px);
    transition: all 1s;
}
#section01 .s5text04.on {
    transform: none;
    opacity: 1;
}
#section01 .s5title02{
    width: 371px;
    height: 32px;
    position: absolute;
    left: 148px;
    top: 20802px;
}
#section01 .s5title02 .s5title02img{
    opacity:0;
}
#section01 .s5title02 .s5title02img.on{
    opacity:1;
    animation: tilt-in-bottom-2 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes tilt-in-bottom-2 {
    0% {
        transform: rotateY(-30deg) translateY(300px) skewY(30deg);
        opacity: 0;
    }
    100% {
        transform: rotateY(0deg) translateY(0) skewY(0deg);
        opacity: 1;
    }
}
#section01 .s5text05{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 146px;
    top: 20888px;

    transform:translateY(30px);
    transition: all 1s;
}
#section01 .s5text05.on {
    transform: none;
    opacity: 1;
}

#section02{
    height: 326px;
    background: #000;
}
#section02 .footer{
    left: 0;
    top: 0;
    position: absolute;
}
#section02 .title{
    right: 197px;
    top: 128px;
    position: absolute;
}
#section02 .name{
    right: 778px;
    top: 110px;
    position: absolute;
}
#section02 .name .name01img{
    opacity: 0;
}
#section02 .name .name01img.on{
    animation: scale-up-hor-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    opacity: 1;
}
@keyframes scale-up-hor-center {
    0% {
        transform: scaleX(0.4);
    }
    100% {
        transform: scaleX(1);
    }
}

#section02 .hover_box{
    right: 138px;
    top: 194px;
    position: absolute;
    cursor: pointer;
}
#section02 .after{
    right: 0;
    top: 0;
    position: absolute;
    display: none;
}
#section02 .hover_box:hover .after {
    display: block;
    transition: 1s;
}
#section02 .hover_box2{
    left: 131px;
    top: 194px;
    position: absolute;
    cursor: pointer;
}
#section02 .after2{
    right: 0;
    top: 0;
    position: absolute;
    display: none;
}
#section02 .hover_box2:hover .after2{
    display: block;
    transition: 1s;
}