

.startPoint{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 100px;
    bottom: 100px;
    z-index: 899998989;
    background: #ffffff;
    border-radius: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px 2px #0000000c;
}






#section01{
   Height:35880px;
}
@font-face {
    font-family: "Montserrat Medium";
    src: url("../../font/Montserrat-Medium.ttf") format("woff2");
}
#header{
    z-index : 99999999999;
    position: fixed;
    top : 0;
    background-color : rgba(246,235,214,0.9);
}

a,
a:link {
    color: #c00000;
    text-decoration: none;
    font-family: "Montserrat Medium";
    font-weight: 500;
}

.menu4 {
    /*list-style: none;*/
    margin: 1.5vh 2.5vw;
    display: flex;
    justify-content: center;

}
.menu4>li> a {
    display: block;
    padding: 0 0.7vw 0;
    position: relative;
    font-size: 18px;
    overflow: hidden;
}
.menu4>li>a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    z-index: -1;
}
.menu4>li>a::after {
    width: 0;
    height: 0;
    background: #d00000;
    left: 25%;
    bottom: 25%;
    border-radius: 100vw;
}
.menu4>li>a:hover::after {
    width: 100%;
    left: 0;
    transition: all 0.7s;
}
.menu4>li>a:hover {
    color: #fff;
}
.menu4>li>a:hover::after {
    width: 200%;
    height: 200%;
    left: 0;
    bottom: 0;
    transform: translate(-25%, 25%);
    transition: all 0.7s;
}

#header .profile{
    margin-right: 1218px;
}

#header .p01{
    position : relative;
    overflow: hidden;
    padding: 0 0.7vw 0;
    color: #c00000;
    font-family: "Montserrat Medium";
    font-weight: 500;
    display: block;
    margin : 5px 5px 5px 5px;
}
#header .p02{
    position : relative;
    overflow: hidden;
    padding: 0 0.7vw 0;
    color: #c00000;
    font-family: "Montserrat Medium";
    font-weight: 500;
    display: block;
    margin : 5px 5px 5px 5px;
}

.deps {
    background-color : rgba(246,235,214);
    position : fixed;
    display : block;
    visibility: hidden;
}

.promotion:hover .deps {
    visibility: visible;
}

.deps>li>a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    z-index: -1;
}
.deps>li>a::after {
    width: 0;
    height: 0;
    background: #d00000;
    left: 25%;
    bottom: 25%;
    border-radius: 100vw;
}
.deps>li>a:hover::after {
    width: 100%;
    left: 0;
    transition: all 0.7s;
}
.deps>li>a:hover {
    color: #fff;
    overflow : hidden;
}
.deps>li>a:hover::after {
    width: 200%;
    height: 200%;
    left: 0;
    bottom: 0;
    transform: translate(-25%, 25%);
    transition: all 0.7s;
}

#section01 .title01{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 82px;
    top: 196px;

    transform:translateY(300px);
    transition: all 1s;
}


#section01 .title01.on{
    transform:none;
    opacity:1;
 
}

#section01 .title02{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 83px;
    top: 264px;

    transform:translateY(300px);
    transition: all 1s;
}
#section01 .title02.on{
    transform:none;
    opacity:1;
 
}

#section01 .main01{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 1697px;
    top: 911px;

    transform:translateY(300px);
    transition: all 1s;
}


#section01 .main01.on{
    transform:none;
    opacity:1;
 
}

#section01 .main02{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 0;
    top: 758px;

    transform:translateY(300px);
    transition: all 1s;
}

#section01 .main02.on{
    transform:none;
    opacity:1;
 
}

#section01 .title04{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 482px;
    top: 858px;

    transform:translateY(300px);
    transition: all 1s;
}


#section01 .title04.on{
    transform:none;
    opacity:1;
 
}

#section01 .title03 {
  width: 128px;
  height: 128px;
  opacity: 0;
  position: absolute;
  left: 260px;
  top: 575px;

  transform: translateY(300px);
  transition: all 1s;
}
@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}

#section01 .title03.on {
  transform: none;
  opacity: 1;
  animation: rotate_image 6s linear infinite;
  transform-origin: 50% 50%;
}

#section01 .s1text01{
    width: 437px;
    height: 437px;
    opacity:0;
    position: absolute;
    left: 1211px;
    top: 1345px;

    transform:translateY(300px);
    transition: all 1s;
}
@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}

#section01 .s1text01.on{
    transform:none;
    opacity:1;
  animation: rotate_image 8s linear infinite;
  transform-origin: 50% 50%;
}

#section01 .s1text02{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 253px;
    top: 1534px;

    transform:translateY(300px);
    transition: all 1s;
}

#section01 .s1text02.on{
    transform:none;
    opacity:1;
 
}

#section01 .s1text03{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 1137px;
    top: 2049px;

    transform:translateY(300px);
    transition: all 1s;
}

#section01 .s1text03.on{
    transform:none;
    opacity:1;
 
}

#section01 .s1circle01{
    width: 801px;
    height: 801px;
    position: absolute;
    left: -363px;
    top: 1917px;

}
#section01 .s1circle01 .s1circle01img{
    opacity: 0;
}
#section01 .s1circle01 .s1circle01img.on{
    opacity:1;
    animation: s1circle01img 1.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes s1circle01img {
    0% {
        transform: scale(2);
        transform-origin: 0 0;
    }
    100% {
        transform: scale(1);
        transform-origin: 0 0;
    }
}


#section01 .s1text04{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 172px;
    top: 2505px;


    transform:translateY(300px);
    transition: all 1s;
}
#section01 .s1text04.on{
    transform:none;
    opacity:1;
 
}

#section01 .s2text01{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 235px;
    top: 3122px;


    transform:translateY(-50px);
    transition: all 1s;
}
#section01 .s2text01.on{
    transform:none;
    opacity:1;
 
}

#section01 .s2model01{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 1126px;
    top: 5183px;


    transform:scale(0.5);
    transition: all 1s;
}
#section01 .s2model01.on{
    transform:none;
    opacity:1;
 
}

#section01 .s2model02{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 301px;
    top: 6191px;


    transform:scale(2,2);
    transition: all 1s;
}
#section01 .s2model02.on{
    transform:none;
    opacity:1;
 
}

#section01 .s2arrow01{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 72px;
    top: 6587px;


    transform:translateY(-50px);
    transition: all 1s;
}
#section01 .s2arrow01.on{
    transform:none;
    opacity:1;
 
}


#section01 .s3text01{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 699px;
    top: 7662px;


    transform:translateY(-50px);
    transition: all 1s;
}
#section01 .s3text01.on{
    transform:none;
    opacity:1;
 
}

#section01 .s3text02{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 838px;
    top: 8034px;


    transform:translateY(300px);
    transition: all 1s;
}
#section01 .s3text02.on{
    transform:none;
    opacity:1;
 
}

#section01 .s3text03{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 373px;
    top: 8448px;


    transform:translateY(300px);
    transition: all 1s;
}
#section01 .s3text03.on{
    transform:none;
    opacity:1;
 
}

#section01 .s3circle01 {
    width: 217px;
    height: 217px;
    position: absolute;
    left: 289px;
    top: 9162px;
}
#section01 .s3circle01 .s3circle01img{
    opacity: 0;
}
#section01 .s3circle01 .s3circle01img.on{
    opacity:1;
    -webkit-animation: s3circle01img 0.8s ease-out both;
    animation: s3circle01img 0.8s ease-out both;
}
@-webkit-keyframes s3circle01img {
    0% {
        transform: translateX(-800px) rotate(-540deg);
        opacity: 0;
    }
    100% {
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}
@keyframes s3circle01img {
    0% {
        transform: translateX(-800px) rotate(-540deg);
        opacity: 0;
    }
    100% {
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}
#section01 .s3circle02 {
    width: 217px;
    height: 217px;
    position: absolute;
    left: 1415px;
    top: 9162px;
}
#section01 .s3circle02 .s3circle02img{
    opacity: 0;
}
#section01 .s3circle02 .s3circle02img.on{
    opacity:1;
    -webkit-animation: s3circle02img 0.8s ease-out both;
    animation: s3circle02img 0.8s ease-out both;
}
@-webkit-keyframes s3circle02img {
    0% {
        transform: translateX(800px) rotate(540deg);
        opacity: 0;
    }
    100% {
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}
@keyframes s3circle02img {
    0% {
        transform: translateX(800px) rotate(540deg);
        opacity: 0;
    }
    100% {
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}


#section01 .s3text04{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 302px;
    top: 9489px;


    transform:translateY(300px);
    transition: all 1s;
}
#section01 .s3text04.on{
    transform:none;
    opacity:1;
}

#section01 .s4mockup1 {
    width: 1328px;
    height: 844px;
    position: absolute;
    left: 299px;
    top: 10373px;

}
#section01 .s4mockup1 .s4mockup1img{
    opacity: 0;
}
#section01 .s4mockup1 .s4mockup1img.on{
	opacity:1;
	animation: s4mockup1img 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes s4mockup1img {
  0% {
            transform: scale(1.5);
  }
  100% {
            transform: scale(1);
  }
}
@keyframes s4mockup1img {
  0% {
            transform: scale(1.5);
  }
  100% {
            transform: scale(1);
  }
}

#section01 .s5text01{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 158px;
    top: 14684px;


    transform:translateY(-50px);
    transition: all 1s;
}
#section01 .s5text01.on{
    transform:none;
    opacity:1;
}

#section01 .s5text02{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: -55px;
    top: 15750px;


    transform:translateX(-40px);
    transition: all 1s;
}
#section01 .s5text02.on{
    transform:none;
    opacity:1;
}
#section01 .s5text03{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 1355px;
    top: 16608px;


    transform:translateX(40px);
    transition: all 1s;
}
#section01 .s5text03.on{
    transform:none;
    opacity:1;
}
#section01 .s6text01{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 837px;
    top: 18388px;


    transform:translateY(-50px);
    transition: all 1s;
}
#section01 .s6text01.on{
    transform:none;
    opacity:1;
}
#section01 .s6text02{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 466px;
    top: 18564px;


    transform:translateY(300px);
    transition: all 1s;
}
#section01 .s6text02.on{
    transform:none;
    opacity:1;
}
#section01 .s6text03{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 250px;
    top: 19207px;


    transform:none;
    transition: all 1s;
}
#section01 .s6text03.on{
    transform:none;
    opacity:1;
}
#section01 .s6text04{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 250px;
    top: 19207px;


    transform:translateX(-50px);
    transition: all 1s;
}
#section01 .s6text04.on{
    transform:none;
    opacity:1;
}
#section01 .s6text05{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 250px;
    top: 19207px;


    transform:translateX(-60px);
    transition: all 1s;
}
#section01 .s6text05.on{
    transform:none;
    opacity:1;
}
#section01 .s6text06{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 165px;
    top: 19477px;


    transform:translateY(300px);
    transition: all 1s;
}
#section01 .s6text06.on{
    transform:none;
    opacity:1;
}
#section01 .s6text07{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 1400px;
    top: 19374px;


    transform:translateY(300px);
    transition: all 1s;
}
#section01 .s6text07.on{
    transform:none;
    opacity:1;
}
#section01 .s6text08{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 1400px;
    top: 19399px;


    transform:translateY(300px);
    transition: all 1s;
}
#section01 .s6text08.on{
    transform:none;
    opacity:1;
}
#section01 .s6text09{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 1400px;
    top: 19426px;


    transform:translateY(300px);
    transition: all 1s;
}
#section01 .s6text09.on{
    transform:none;
    opacity:1;
}
#section01 .s7img01{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 72px;
    top: 20156px;
    z-index:4;


    transform:translateY(300px);
    transition: all 2s;
}
#section01 .s7img01.on{
    transform:none;
    opacity:1;
}
#section01 .s7img02{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 1102px;
    top: 20261px;
    z-index: 3;


    transform:translateY(300px);
    transition: all 2s;
}
#section01 .s7img02.on{
    transform:none;
    opacity:1;
}
#section01 .s7img03{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 0;
    top: 20335px;
    z-index: 2;


    transform:translateY(300px);
    transition: all 2s;
}
#section01 .s7img03.on{
    transform:none;
    opacity:1;
}
#section01 .s7text{
    opacity: 0.7;
    position: absolute;
    left: 0;
    top: 19915px;
    z-index: 1;
    overflow: hidden;
    display: flex;
}

#section01 .s7text>div{
    animation: txt 10s infinite linear;
}
@keyframes txt {
    to{
        transform: translateX(-4148px);
    }
}
#section01 .s8text01{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 115px;
    top: 21103px;

    transform:translateY(-50px);
    transition: all 1s;
}
#section01 .s8text01.on{
    transform:none;
    opacity:1;
}
#section01 .s8mockup01{
    width: 1520px;
    height: 876px;
    position: absolute;
    left: 200px;
    top: 22205px;

}
#section01 .s8mockup01 .s8mockup01img{
    opacity:0;
}
#section01 .s8mockup01 .s8mockup01img.on{
    opacity:1;
    -webkit-animation: s8mockup01img 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: s8mockup01img 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes s8mockup01img {
    0% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes s8mockup01img {
    0% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
#section01 .s8mockup02{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: -45px;
    top: 25758px;

    transform:translatex(-40px);
    transition: all 1s;
}
#section01 .s8mockup02.on{
    transform:none;
    opacity:1;
}

#section01 .s8text02{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 1096px;
    top: 26068px;

    transform:translateY(-50px);
    transition: all 1s;
}
#section01 .s8text02.on{
    transform:none;
    opacity:1;
}
#section01 .s8mockup03{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 532px;
    top: 26929px;

    transform:translateX(500px);
    transition: all 1s;
}
#section01 .s8mockup03.on{
    transform:none;
    opacity:1;
}
#section01 .s8text03{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: -4px;
    top: 27107px;

    transform:translateX(-50px);
    transition: all 1s;
}
#section01 .s8text03.on{
    transform:none;
    opacity:1;
}
#section01 .s9text01{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 129px;
    top: 28033px;

    transform:translateY(-50px);
    transition: all 1s;
}
#section01 .s9text01.on{
    transform:none;
    opacity:1;
}
#section01 .s9text02{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 1408px;
    top: 29492px;

    transform:translateX(300px);
    transition: all 1s;
}
#section01 .s9text02.on{
    transform:none;
    opacity:1;
}
#section01 .s10text01{
    width: 200px;
    height: 200px;
    opacity:0;
    position: absolute;
    left: 302px;
    top: 30817px;

    transform:translateY(-50px);
    transition: all 1s;
}
#section01 .s10text01.on{
    transform:none;
    opacity:1;
}

#section01 .s11text01{
    width: 883px;
    height: 148px;
    position: absolute;
    left: 109px;
    top: 35252px;

}
#section01 .s11text01 .s11text01img{
    opacity:0;
}
#section01 .s11text01 .s11text01img.on{
    opacity:1;
    animation: bounce-in-top 1.1s both;
}
@keyframes bounce-in-top {
    0% {
        transform: translateY(-500px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }
    38% {
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }
    55% {
        transform: translateY(-65px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    72% {
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    81% {
        transform: translateY(-28px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    90% {
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    95% {
        transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    100% {
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

#section02{
    height: 326px;
    background: #000;
}
#section02 .footer{
    left: 0;
    top: 0;
    position: absolute;
}
#section02 .title{
    right: 212px;
    top: 128px;
    position: absolute;
}
#section02 .name{
    right: 778px;
    top: 110px;
    position: absolute;
}
#section02 .name .name01img{
    opacity: 0;
}
#section02 .name .name01img.on{
    animation: scale-up-hor-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    opacity: 1;
}
@keyframes scale-up-hor-center {
    0% {
        transform: scaleX(0.4);
    }
    100% {
        transform: scaleX(1);
    }
}

#section02 .hover_box{
    right: 138px;
    top: 194px;
    position: absolute;
    cursor: pointer;
}
#section02 .after{
    right: 0;
    top: 0;
    position: absolute;
    display: none;
}
#section02 .hover_box:hover .after {
    display: block;
    transition: 1s;
}
#section02 .hover_box2{
    left: 131px;
    top: 194px;
    position: absolute;
    cursor: pointer;
}
#section02 .after2{
    right: 0;
    top: 0;
    position: absolute;
    display: none;
}
#section02 .hover_box2:hover .after2{
    display: block;
    transition: 1s;
}

